    <nav class="main-nav">
        <ul class="nav-list">
            <li class="nav-list-item"> <a class="nav-links"  href="/">Home</a> </li>
            <li class="nav-list-item"> <a class="nav-links" href="/articles">Articles</a> </li>
            <li class="nav-list-item"> <a class="nav-links" href="/catagory">Catagory</a> </li>
            <li class="nav-list-item"> <a class="nav-links" href="/write-for-us">Write for Us</a> </li>
            <li class="nav-list-item"> <a class="nav-links" href="/about">About Us</a> </li>
            <li class="nav-list-item"> <a class="nav-links" href="/contact">Contact</a></li>
        </ul>
    </nav> 


    