<%-include('./includes/head')%>

<body>
    <%-include('./includes/navigation')%>

    <main class="main-section" >

    
   
        <div class="jumbotron">
            <div class="message">
                <h1 >Error 404! Page Not Found!</h1>
            </div>
            
            <div class="message">
                <p class="lead">Page You Are Looking for could not be found!</p>
            </div>
           
            <hr class="hr-class">
            <div class="message">
                <p>Click on button Below to Contact Support Team!</p>
            </div>
            
            <div class="message">
                <button class="blog-button">Contact Us</button> 
            </div>
            
      
    </div>
</main>
</body>
<%-include('./includes/end')%>