<%-include('./includes/head')%>

<body>
    <%-include('./includes/navigation')%>

    <div class="main-div">

        <div class="align-center">

      
        <form action="/contact">
            <div class="form-fields">
                <label for="">Name</label>
                <input type="text">

            </div>

            <div class="form-fields">
                <label for="">Email</label>
                <input type="text">
            </div>

            <div class="form-fields">
                <label for="">Description</label>
                <input type="text">
            </div>

            <div class="form-fields">
                <input type="button" value="Submit" class="blog-button">
            </div>

        </form>
    </div>
    </div>

</body>
<%-include('./includes/end')%>