<%-include('./includes/head')%>

<body>
    <%-include('./includes/navigation')%>

   <h3>Sarwan Nizamani</h3>
    <h4>Email:<p>sarwan.nizamani8@gmail.com</p></h4>




</body>
<%-include('./includes/end')%>