<%-include('./includes/head')%>

<body>
    <%-include('./includes/navigation')%>
    <main class="main-section">
        <div>
            <div class="main-div">
                <h1>Article Main Heading</h1>
            </div>
            <div class="main-image-div">
                <img class="image" src="https://images.unsplash.com/photo-1558009250-d3d2229fdf28?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80"  alt="">
            </div>
            <div class="main-div">
                <p class="main-article">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga dolorem,
                    provident eos inventore aliquid numquam rem, consequuntur a fugit voluptatem dolore voluptates
                    eligendi optio deleniti vitae eius, reprehenderit voluptatibus maxime. Lorem ipsum dolor sit amet
                    consectetur adipisicing elit. Alias molestias nisi inventore molestiae, impedit nulla omnis!
                    Quisquam aperiam, impedit facilis tempore laborum fuga perspiciatis ab fugit praesentium autem est
                    voluptate? Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio quisquam, placeat
                    mollitia consequatur dolores impedit necessitatibus, recusandae explicabo alias saepe nam ab culpa
                    voluptas asperiores blanditiis incidunt, odio vero beatae! Lorem ipsum dolor sit amet consectetur
                    adipisicing elit. Perspiciatis harum in facilis suscipit obcaecati tenetur laudantium dolores fugiat
                    </p>
            </div>
        </div>


    </main>
</body>
<%-include('./includes/end')%>