<%-include('./includes/head')%>

<body>
    <%-include('./includes/navigation')%>

    <div class="main-article-section">
        <div class="title">
            <h1>Title</h1>
        </div>
        <div class="paragraph">
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cupiditate velit corrupti itaque cumque eos
                eum, adipisci unde aspernatur. Iusto eaque illum suscipit atque voluptates qui, iure voluptate
                blanditiis officiis voluptatum. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iure
                perferendis ex vel dolore libero cupiditate dolor maxime. Commodi pariatur ab minima, fuga neque, sunt
                eaque possimus totam necessitatibus sequi perspiciatis. </p>
        </div>

    </div>


</body>
<%-include('./includes/end')%>