* {
    margin: 0;
    padding: 0;
}

body {

    /* font-family: 'Inconsolata', monospace; */
    font-family: 'Orbitron', sans-serif;
    letter-spacing: 2px;
background-size: cover;
    background-image: url(https://images.unsplash.com/photo-1486312338219-ce68d2c6f44d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=752&q=80);
}

/* .main-article-section {
   
} */


.blog-form-div {
    margin-top: 2%;
}

.blog-form {
    max-width: 100%;
    margin-left: 30%;

}



#title-input {
    height: 30px;
}

.blog-input {
    font-size: 20px;
    display: block;
    margin-bottom: 2%;
    width: 50%;
    outline-color: #cc2222;
    border: black solid 2px;
    background-color: transparent;

}



.blog-input:focus {
    box-shadow: 0 0 5px #cc2222;
    /* padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px; */
    /* border: 2px solid #cc2222; */
transition: 0.4s ;

}

.blog-form-div label {
    color: #000000;
    font-weight: bolder;
}


.blog-button {
    font-family: inherit;
    font-weight: bold;
    letter-spacing: inherit;
    border-radius: 5px;
    color: black;
    background-color: #cc2222;
    padding: 1rem;
    cursor: pointer;
    border: black 2px;
    text-decoration: none;

}

.blog-button:hover {
    background-color: #080101;
    color: #cc2222;
    /* -webkit-transition-duration: 0.4s; Safari */
    transition-duration: 0.7s;
}

.card{
   
    transition: 0.4s;
    text-align: center;
    background-color:white;
    opacity: 0.8;
    width: 20%;
    height: 15rem;
    margin: 2% 2%;
    float: left;
    border: 1px solid red;
    border-radius: 10px;
    /* justify-content: center; */
}

.card:hover{
    cursor: pointer;
    transition:0.3s;
    box-shadow: 2px 2px 2px 2px #ff000033;
    
}